<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeoNag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>595A0F3B1DDF7F1F00A68502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>595A0F521DDF7F2000A68502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>595A0F5D1DDF7F2000A68502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>597C331F1E00C6D800F70AF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D392741E0098F2004D0D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D392821E00AB80004D0D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D392901E00BAA7004D0D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
